<div style="width:100%;padding:10px;" class="color-primary-0">
  <div style="text-align:left;border:1px solid;border-color:gainsboro;border-radius:.2rem;overflow:auto;" class="color-primary-1">
    <div style="float:left">

      <button type="button" [disabled]="false" class="btn btn-primary  btn-sm" style="margin:3px;">Partner</button>

      <button type="button" [disabled]="false" class="btn btn-primary btn-sm" style="margin:3px;" (click)="startAdd()">+</button>
    </div>


    <div style="float:right">
      <button type="button" class="btn btn-primary  btn-sm" style="margin:3px;">Kopiraj</button>
      <button type="button" class="btn btn-primary  btn-sm" style="margin:3px;" (click)="delete(selectedPartner.sifra)">Obriši</button>

      <button type="button" class="btn btn-outline-primary  btn-sm" style="margin:3px" (click)="this.activeModal.close()">X</button>
    </div>
  </div>
  <div style="margin:10px">
    <div class="form-row form-group">
      <div class="col-sm-6"><label>Šifra</label><input class="form-control form-control-sm" disabled [(ngModel)]="selectedPartner.sifra" type="text" /></div>
      <div class="col-sm-6"><label>Tip</label><input class="form-control form-control-sm" [(ngModel)]="selectedPartner.tip" type="text" /></div>
    </div>
    <div class="form-row form-group">
      <div class="col-sm-12"><label>Naziv</label><input class="form-control form-control-sm" [(ngModel)]="selectedPartner.naziv" type="text" /></div>


    </div>
    <div class="form-row form-group" style="border-top: solid 1px gainsboro;padding-top: 10px;">
      <div class="col-sm-12"><label>Adresa</label><input class="form-control form-control-sm" [(ngModel)]="selectedPartner.adresa" type="text" /></div>
    </div>
    <div class="form-row form-group">
      <div class="col-sm-6"><label>Telefon</label><input class="form-control form-control-sm" [(ngModel)]="selectedPartner.telefon" type="text" /></div>

      <div class="col-sm-6"><label>Email</label><input class="form-control form-control-sm" [(ngModel)]="selectedPartner.email" type="text" /></div>
    </div>
    <div class="form-row form-group">
      <div class="col-sm-6"><label>MB</label><input class="form-control form-control-sm" [(ngModel)]="selectedPartner.maticni_broj" type="text" /></div>
      <div class="col-sm-6"><label>Broj LK</label><input class="form-control form-control-sm" [(ngModel)]="selectedPartner.broj_lk" type="text" /></div>

    </div>
    <div class="form-row form-group align-items-center">

      <div class="col-sm-6"><div class="form-check"><input id="cbKupac" class="form-check-input" [(ngModel)]="selectedPartner.kupac" type="checkbox" /><label class="form-check-label" for="cbKupac">Kupac</label></div></div>
      <div class="col-sm-6">
        <div class="form-check"><input id="cbDobavljac" class="form-check-input" [(ngModel)]="selectedPartner.dobavljac" type="checkbox" /><label class="form-check-label" for="cbDobavljac">Dobavljač</label></div>
      </div>
    </div>



  </div>

  <div style="text-align:right;border:1px solid;border-color:gainsboro;border-radius:.2rem" class="color-primary-1">
    <button type="button" class="btn btn-primary btn-sm" style="margin:3px;" (click)="savepartner(selectedPartner)">Sačuvaj</button>
    <button type="button" class="btn btn-primary btn-sm" style="margin:3px;" (click)="cancel()">Odustani</button>
  </div>
</div>
