<div style="width:100%;background-color:#fff;padding:15px;margin-left:auto;margin-right:auto;width:auto" class=" table-responsive">
  <h2 id="tableLabel">Korisnici</h2>

  <p *ngIf="!korisnici&&currentUser"><em>Učitavanje...</em></p>
  <p *ngIf="!currentUser"><em>Niste autorizovani za pristup ovoj stranici...</em></p>

  <div style="overflow:auto" *ngIf="currentUser">
    <div style="float:left;margin: 4px;">
      <!--<button type="button" class="btn btn-info" (click)="load()">Učitaj</button>-->
      <button *ngIf="currentUser.admin==true" type="button" class="btn btn-info" (click)="add()">+</button>
    </div>
    <!--<div style="float:left;margin: 4px;">
      <input class="form-control" style="width:300px" [(ngModel)]="searchText" placeholder="Unesite pojam za pretraživanje">
    </div>-->
  </div>

  <table class='table table-striped table-sm table-hover' aria-labelledby="tableLabel" *ngIf="korisnici">
    <thead>
      <tr>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Email</th>
        <th>Korisničko ime</th>
        <th>role</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let korisnik of korisnici" (click)="selectItem(korisnik)">
        <td>{{ korisnik.ime }}</td>
        <td>{{ korisnik.prezime }}</td>
        <td>{{ korisnik.email }}</td>
        <td>{{ korisnik.korisnicko_ime }}</td>
        <td>{{ korisnik.role }}</td>
      </tr>
    </tbody>
  </table>
</div>
