<h1 id="tableLabel">Partneri</h1>

<p>Korisnici</p>

<p *ngIf="!partneri"><em>Učitavanje...</em></p>

<div style="overflow:auto">
  <div style="float:left">
    <button type="button" class="btn btn-info" (click)="load()">Učitaj</button>
    <button type="button" class="btn btn-info" (click)="add()">+</button>
  </div>
  <div style="float:right">
    <input class="form-control" style="width:300px" [(ngModel)]="searchText" placeholder="Unesite pojam za pretraživanje">
  </div>
</div>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="partneri">
  <thead>
    <tr>
      <th>Šifra</th>
      <th>Naziv</th>
      <th>Tip</th>
      <th>Adresa</th>
      <th>Telefon</th>
      <th>Email</th>
      <th>Kupac</th>
      <th>Dobavljač</th>
      <th>Broj LK</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let partner of partneri | filterPartner : searchText" (click)="selectItem(partner)">
      <td>{{ partner.sifra }}</td>
      <td>{{ partner.naziv }}</td>
      <td>{{ partner.tip }}</td>
      <td>{{ partner.adresa }}</td>
      <td>{{ partner.telefon }}</td>
      <td>{{ partner.email }}</td>
      <td>{{ partner.kupac }}</td>
      <td>{{ partner.dobavljac }}</td>
      <td>{{ partner.broj_lk }}</td>
    </tr>
  </tbody>
</table>
