<div style="width:100%;background-color:#fff;padding:15px;margin-left:auto;margin-right:auto;width:auto" class=" table-responsive"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50"
     (scrolled)="onScroll()">
  <h2 id="tableLabel">Artikli</h2>

  <div class="row">
    <div *ngIf="currentUser" class="col-3">
      Naziv:
      <input (keyup.enter)="search()" class="form-control form-control-sm" #searchInput [(ngModel)]="searchText" placeholder="Unesite pojam za pretraživanje" [disabled]="loadAll=='1'">
    </div>

    <div *ngIf="currentUser" class="col-3" style="align-self:center">
      Filter:
      <select class="form-control form-control-sm" [(ngModel)]="loadAll" (ngModelChange)="search()">
        <option value="1">--Bez filtera--</option>
        <option value="0" selected>--Sa filterom--</option>
      </select>
    </div>

    <div class="col-3">
      Aktivan:
      <select class="form-control form-control-sm" [(ngModel)]="selectedAktivan" (ngModelChange)="search()">
        <option value="0">--Svi--</option>
        <option value="1" selected>--Aktivni--</option>
        <option value="2">--Neaktivni--</option>
      </select>
    </div>

    <div class="col-3" style="align-self: flex-end;">
      <button type="button" style="width:100px;float:left;margin: 4px;" class="btn btn-info  btn-sm" (click)="search()">Pretraži</button>
      <button type="button" style="width:100px;float:left;margin: 4px;" class="btn btn-info  btn-sm" (click)="exportAsXLSX()">Eksport</button>
      <label class="btn btn-info  btn-sm" style="width:100px;float:left;margin: 4px;">
        Import
        <input type="file" hidden (change)="importFromXLSX($event)" />
      </label>

    </div>
  </div>
  <div class="row">


    <div class="col-3">
      Kategorija (WEB SHOP):
      <select class="form-control form-control-sm" [(ngModel)]="selectedKategorijaWebShop" (ngModelChange)="search()">
        <ng-container *ngFor="let k of kategorijeWebShop">
          <option [value]="k.naziv">{{k.naziv}}</option>
        </ng-container>
      </select>
      <!--<select multiple class="form-control form-control-sm" [ngModel]="distinctKategorije">
        <ng-container *ngFor="let k of distinctKategorije">
          <option [value]="k">{{k}}</option>
        </ng-container>
      </select>-->


    </div>
    <div class="col-3">
      Dostupnost:
      <select class="form-control form-control-sm" [(ngModel)]="selectedDostupnost" (ngModelChange)="search()">
        <option value="0">--Sve--</option>
        <option value="1" selected>--Na stanju--</option>
      </select>
    </div>

    <div class="col-3">
      Dobavljač:
      <select class="form-control form-control-sm" [(ngModel)]="selectedDobavljac" (ngModelChange)="search()">
        <ng-container *ngFor="let k of dobavljaci">
          <option [value]="k">{{k}}</option>
        </ng-container>
      </select>
    </div>
    <div class="col-3">
      Brend:
      <select class="form-control form-control-sm" [(ngModel)]="selectedBrend" (ngModelChange)="search()">
        <ng-container *ngFor="let b of distinctBrendovi">
          <option [value]="b">{{b}}</option>
        </ng-container>
      </select>
    </div>
  </div>




  <table style="max-width:1440px" class='table table-striped table-sm table-hover' aria-labelledby="tableLabel" *ngIf="artikli&&artikli.length>0">
    <thead>
      <tr>
        <th><a (click)="sortProperty('sifra')">Šifra</a><ng-container *ngIf="sortColumn=='sifra'">{{sortOrder==true?'&#8595;':'&#8593;'}}</ng-container></th>
        <th><a (click)="sortProperty('barkod')">Barkod</a><ng-container *ngIf="sortColumn=='barkod'">{{sortOrder==true?'&#8595;':'&#8593;'}}</ng-container></th>
        <th><a (click)="sortProperty('naziv')">Naziv</a><ng-container *ngIf="sortColumn=='naziv'">{{sortOrder==true?'&#8595;':'&#8593;'}}</ng-container></th>
        <th><a (click)="sortProperty('dobavljac')">Dobavljač</a><ng-container *ngIf="sortColumn=='dobavljac'">{{sortOrder==true?'&#8595;':'&#8593;'}}</ng-container></th>
        <th><a (click)="sortProperty('brend')">Brend</a><ng-container *ngIf="sortColumn=='brend'">{{sortOrder==true?'&#8595;':'&#8593;'}}</ng-container></th>
        <th><a (click)="sortProperty('kategorija')">Kategorija</a><ng-container *ngIf="sortColumn=='kategorija'">{{sortOrder==true?'&#8595;':'&#8593;'}}</ng-container></th>
        <ng-container *ngIf="currentUser.role.includes('WEBSHOP_ADMIN')||currentUser.role.includes('ADMIN')&&artikli&&artikli.length>0">
          <th><a (click)="sortProperty('cijena_sa_rabatom')">Nabavna cijena</a><ng-container *ngIf="sortColumn=='cijena_sa_rabatom'">{{sortOrder==true?'&#8595;':'&#8593;'}}</ng-container></th>
        </ng-container>
        <th><a (click)="sortProperty('cijena_prodajna')">VPC</a><ng-container *ngIf="sortColumn=='cijena_prodajna'">{{sortOrder==true?'&#8595;':'&#8593;'}}</ng-container></th>
        <th><a (click)="sortProperty('cijena_mp')">MPC</a><ng-container *ngIf="sortColumn=='cijena_mp'">{{sortOrder==true?'&#8595;':'&#8593;'}}</ng-container></th>
        <th><a (click)="sortProperty('dostupnost')">Dostupnost</a><ng-container *ngIf="sortColumn=='dostupnost'">{{sortOrder==true?'&#8595;':'&#8593;'}}</ng-container></th>
        <th><a (click)="sortProperty('aktivan')">Aktivan</a><ng-container *ngIf="sortColumn=='aktivan'">{{sortOrder==true?'&#8595;':'&#8593;'}}</ng-container></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let artikal of artikli">
        <tr (click)="selectItem(artikal)">
          <td [ngStyle]="{'font-weight':artikal==selectedItem? 'bold' : 'normal' }">{{ artikal.sifra }}</td>
          <td [ngStyle]="{'font-weight':artikal==selectedItem? 'bold' : 'normal' }">{{ artikal.barkod }}</td>
          <td [ngStyle]="{'font-weight':artikal==selectedItem? 'bold' : 'normal' }">{{ artikal.naziv }}</td>
          <td [ngStyle]="{'font-weight':artikal==selectedItem? 'bold' : 'normal' }">{{ artikal.dobavljac }}</td>
          <td [ngStyle]="{'font-weight':artikal==selectedItem? 'bold' : 'normal' }">{{ artikal.brend }}</td>
          <td [ngStyle]="{'font-weight':artikal==selectedItem? 'bold' : 'normal' }">{{ artikal.kategorija }}</td>
          <ng-container *ngIf="currentUser.role.includes('WEBSHOP_ADMIN')||currentUser.role.includes('ADMIN')&&artikli&&artikli.length>0">
            <td [ngStyle]="{'font-weight':artikal==selectedItem? 'bold' : 'normal' }">{{ artikal.cijena_sa_rabatom  }}</td>
          </ng-container>
          <td [ngStyle]="{'font-weight':artikal==selectedItem? 'bold' : 'normal' }">{{ artikal.cijena_prodajna | noComma }}</td>
          <td [ngStyle]="{'font-weight':artikal==selectedItem? 'bold' : 'normal' }">{{ artikal.cijena_mp | noComma }}</td>
          <td [ngStyle]="{'font-weight':artikal==selectedItem? 'bold' : 'normal' }">{{ artikal.dostupnost }}</td>
          <td [ngStyle]="{'font-weight':artikal==selectedItem? 'bold' : 'normal' }">{{ artikal.aktivan==true?'DA':'NE' }}</td>
        </tr>
        <tr *ngIf="artikal&&artikal.sifra==selectedItem?.sifra">
          <td colspan="11">
            <div>
              Opis:
              <p style="font-weight:bold;max-width:1000px">{{artikal.opis}}</p>
              Barkod:
              <p style="font-weight:bold">{{artikal.barkod}}</p>
              Garancija:
              <p style="font-weight:bold">{{artikal.garancija}}</p>
              Brend:
              <p style="font-weight:bold">{{artikal.brend}}</p>
              Zadnje učitavanje:
              <p style="font-weight:bold">{{artikal.zadnje_ucitavanje|date:'dd.MM.yyyy HH:mm:ss'}}</p>
              Kategorije:
              <ng-container *ngFor="let vrsta of artikal.vrste;index as i">
                <p style="font-weight:bold">-{{vrsta}}</p>
              </ng-container>

              Istorija cijena:
              <ng-container *ngFor="let istorija of sortIstorija(artikal.istorija_cijena);index as i">
                <p>{{istorija.vrijeme | date:'dd.MM.yyyy'  }} &nbsp;-&nbsp;{{istorija.cijena | noComma}}</p>
              </ng-container>

              <button [disabled]="updateInProgress==true" (click)="toggleAktivan(artikal)" type="button" class="btn btn-info btn-sm" style="width:100px;margin: 4px;">{{ artikal.aktivan==true?'Deaktiviraj':'Aktiviraj' }}</button>
              <button [disabled]="!(currentUser.role.includes('WEBSHOP_ADMIN')||currentUser.role.includes('ADMIN'))" type="button" class="btn btn-danger  btn-sm" style="width:100px;margin: 4px;" (click)="delete(artikal)">Obriši</button>
            </div>
            <div>
              <h6>Slike:</h6>
              <div style="overflow:auto" >
                <div style="float:left;margin: 4px;">
                  <button type="button" style="width:100px" class="btn btn-info  btn-sm" (click)="addUrl(artikal)">Dodaj URL</button>
                </div>
                <div style="float:left;margin: 4px;">
                  <input  class="form-control form-control-sm" style="width:400px" [(ngModel)]="url" placeholder="Photo URL">
                </div>
              </div>

              <ng-container *ngFor="let img of artikal.slike;index as i">
                <button [disabled]="!(currentUser.role.includes('WEBSHOP_ADMIN')||currentUser.role.includes('ADMIN'))" type="button" class="btn btn-danger  btn-sm" style="width:20px;margin: 4px;" (click)="deletePhotoURL(artikal,img)">X</button>

                <a *ngIf="sanitize(img)!=''" target="_blank" [href]="sanitize(img)">
                  {{img}}<br />

                  <img [src]="sanitize(img)" style="max-width:1000px" />
                </a><br />
              </ng-container>
            </div>
          </td>

        </tr>
      </ng-container>
    </tbody>
  </table>
  <p><em *ngIf="loading==true">Učitavanje...</em></p>
</div>



