<!--<ul class="navbar-nav flex-grow">
  <li class="nav-item"
      [routerLinkActive]="['link-active']"
      [routerLinkActiveOptions]="{ exact: true }">
    <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
  </li>

  <li class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link text-dark" [routerLink]="['/korisnici']">Korisnici</a>
    <a class="nav-link text-dark" [routerLink]="['/ponude']">Ponude</a>
    <a class="nav-link text-dark" [routerLink]="['/partneri']">Partneri</a>
    <a class="nav-link text-dark" [routerLink]="['/login']" *ngIf="!currentUser">Prijava</a>
    <a class="nav-link text-dark" (click)="logout()" *ngIf="currentUser">Odjava</a>
  </li>
</ul>-->


<div style="text-align:center;background-color:#fff;margin-left:auto;margin-right:auto;width:fit-content">
  <button [disabled]="!currentUser" class="btn btn-outline-info" style="width:220px;height:160px" (click)="ponude()">Ponude</button>
  <button  [disabled]="!currentUser" class="btn btn-outline-info" style="width:220px;height:160px" (click)="partneri()">Partneri</button>
  <button  [disabled]="!currentUser" class="btn btn-outline-info" style="width:220px;height:160px" (click)="korisnici()">Korisnici</button>
<!--</div>
<div style="text-align:center;background-color:#fff;margin-left:auto;margin-right:auto;width:fit-content">-->
  <button  [disabled]="!currentUser" class="btn btn-outline-info" style="width:220px;height:160px" (click)="ugovori()">Ugovori o odloženom plaćanju</button>
  <button  [disabled]="!currentUser" class="btn btn-outline-info" style="width:220px;height:160px" (click)="servisneprijave()">Servisne prijave</button>
  <button  [disabled]="!currentUser" class="btn btn-outline-info" style="width:220px;height:160px" (click)="izvjestaji()">Izvještaji</button>
</div>
