<div style="width:100%;padding:10px;">

  <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3" style="padding:0px;border-radius:.2rem">
      <div class="container" style="padding:0px">
        <button type="button" class="btn btn-primary btn-sm" style="width:300px;margin:3px;">Ugovor o odloženom plaćanju</button>
        <button type="button" *ngIf="formMode==1" class="btn btn-primary btn-sm" style="width:60px;margin:3px;" (click)="startAdd()">+</button>

        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target=".navbar-collapse"
                aria-label="Toggle navigation"
                [attr.aria-expanded]="isExpanded"
                (click)="toggle()">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
             [ngClass]="{ show: isExpanded }">
          <ul class="navbar-nav flex-grow">



            <li class="nav-item" [routerLinkActive]="['link-active']">
              <button type="button" class="btn btn-info  btn-sm" style="width:80px;margin:3px;" *ngIf="formMode==1" (click)="izmijeniUgovor()">Izmijeni</button>

            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <button type="button" class="btn btn-danger  btn-sm" style="width:80px;margin:3px;" *ngIf="formMode==1" (click)="obrisiUgovor()">Obriši</button>

            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <button type="button" class="btn btn-secondary  btn-sm" style="width:150px;margin:3px;" *ngIf="formMode==1" (click)="excel()">Štampaj prijemnicu</button>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <button type="button" class="btn btn-secondary  btn-sm" style="width:150px;margin:3px;" *ngIf="formMode==1" (click)="radniNalog()">Štampaj radni nalog</button>
            </li>

            <li class="nav-item" [routerLinkActive]="['link-active']">
              <button type="button" class="btn btn-light  btn-sm" style="margin:3px" (click)="cancel()">X</button>
            </li>

          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div *ngIf="selectedUgovor&&ugovorVisible==true" style="margin:10px">
    <div class="form-row form-group">
      <div *ngIf="formMode!=2" class="col-sm-2"><label>Broj</label><input class="form-control form-control-sm" disabled [(ngModel)]="selectedUgovor.broj" type="text" /></div>
      <div class="col-sm-2">
        <label>Datum</label><div class="input-group">
          <input [disabled]="formMode==1" class="form-control form-control-sm" name="dp" [(ngModel)]="selectedUgovor.datum"
                 value="selectedUgovor.datum"
                 ngbDatepicker #d="ngbDatepicker">
          <button [disabled]="formMode==1" class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
        </div>
      </div>
      <div *ngIf="formMode!=2" class="col-sm-4"><label>Izradio</label><input class="form-control form-control-sm" disabled [value]="selectedUgovor.korisnik.ime+' '+selectedUgovor.korisnik.prezime" type="text" /></div>



    </div>

    <div class="form-row form-group">
      <div class="col-sm-6">
        <label for="partner_naziv">Partner</label>
        <input id="partner_naziv" type="text" [disabled]="formMode==1" #partnerElement (keyup.enter)="console.log('enter')"
               name="partner_naziv"
               class="form-control  form-control-sm"
               [(ngModel)]="selectedUgovor.partner"
               (selectItem)="selectedItem($event)"
               [ngbTypeahead]="search"
               [resultFormatter]="resultFormatPartnerListValue"
               [inputFormatter]="inputFormatPartnerListValue"
               #instance="ngbTypeahead" />
      </div>
      <div class="col-sm-4" hidden><label>Naziv</label><input [disabled]="formMode==1" class="form-control form-control-sm" [(ngModel)]="selectedUgovor.kupac_ime" type="text" /></div>
      <div class="col-sm-3"><label>Adresa</label><input [disabled]="formMode==1" class="form-control form-control-sm" [(ngModel)]="selectedUgovor.kupac_adresa" type="text" /></div>

    </div>
    <div class="form-row form-group">
      <div class="col-sm-3"><label>Telefon</label><input [disabled]="formMode==1" class="form-control form-control-sm" [(ngModel)]="selectedUgovor.kupac_telefon" type="text" /></div>
      <div class="col-sm-2"><label>Broj LK</label><input [disabled]="formMode==1" class="form-control form-control-sm" [(ngModel)]="selectedUgovor.kupac_broj_lk" type="text" /></div>
      <div class="col-sm-2"><label>JMBG</label><input [disabled]="formMode==1" class="form-control form-control-sm" [(ngModel)]="selectedUgovor.kupac_maticni_broj" type="text" /></div>
    </div>

    <div class="form-row form-group">
      <div class="col-sm-2"><label>Br.računa</label><input [disabled]="formMode==1" class="form-control form-control-sm" [(ngModel)]="selectedUgovor.broj_racuna" type="text" /></div>
    </div>
    <div class="form-row form-group">
      <div class="col-sm-2"><label>Iznos ugovora</label><input [disabled]="formMode==1" class="form-control form-control-sm" [(ngModel)]="selectedUgovor.iznos_sa_pdv" (ngModelChange)="KreirajRateUgovora()" type="text" /></div>
      <div class="col-sm-2"><label>Broj rata</label><input [disabled]="formMode==1" class="form-control form-control-sm" [(ngModel)]="selectedUgovor.broj_rata" (ngModelChange)="KreirajRateUgovora()" type="text" /></div>
      <div class="col-sm-2"><label>Inicijalno uplaćeno</label><input [disabled]="formMode==1" class="form-control form-control-sm" [(ngModel)]="selectedUgovor.inicijalno_placeno" (ngModelChange)="KreirajRateUgovora()" type="text" /></div>
      <div class="col-sm-2"><label>Uplaćeno po ratama</label><input readonly [disabled]="formMode==1" class="form-control form-control-sm" [(ngModel)]="selectedUgovor.uplaceno_po_ratama" type="text" /></div>
      <div class="col-sm-2"><label>Ukupno uplaćeno</label><input readonly [disabled]="formMode==1" class="form-control form-control-sm" [(ngModel)]="selectedUgovor.suma_uplata" type="text" /></div>
      <div class="col-sm-2"><label>Preostalo za uplatu</label><input readonly [disabled]="formMode==1" class="form-control form-control-sm" [(ngModel)]="selectedUgovor.preostalo_za_uplatu" type="text" /></div>
      <!-- <div class="col-sm-6"><div class="form-check"><input id="cbMK" class="form-check-input" [(ngModel)]="selectedUgovor.mk" type="checkbox" /><label class="form-check-label" for="cbMK">MK</label></div></div>-->

    </div>
  </div>

  <table class='table table-striped table-sm table-hover' aria-labelledby="tableLabel" *ngIf="selectedUgovor.rate">
    <thead>
      <tr>
        <th>Br.rate</th>
        <th>Iznos</th>
        <th>Rok plaćanja</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rata of selectedUgovor.rate" (click)="selectRata(rata)">
        <td>{{ rata.broj_rate }}</td>
        <td>{{ rata.iznos }}</td>
        <td>{{ rata.rok_placanja|date:'dd.MM.yyyy' }}</td>
      </tr>
    </tbody>
  </table>

  <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3" style="padding:0px;border-radius:.2rem">
      <div class="container" style="padding:0px">
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
             [ngClass]="{ show: isExpanded }">
          <button *ngIf="formMode==2||formMode==3" type="button" class="btn btn-warning btn-sm" style="width:80px;margin:3px;" (click)="cancel()">Odustani</button>
          <button *ngIf="formMode==2||formMode==3" type="button" class="btn btn-success btn-sm" style="width:80px;margin:3px;" (click)="saveUgovor(selectedUgovor)">Sačuvaj</button>
        </div>
      </div>
    </nav>
  </header>
</div>
