<div style="width:100%;background-color:#fff;padding:15px;margin-left:auto;margin-right:auto;width:auto" class=" table-responsive">
  <h2 id="tableLabel">Kategorije</h2>
  <button (click)="azurirajKategorije()">Ažuriraj kategorije artikala</button>  <button (click)="toggleExpand()">Expand all</button>
  <table style="max-width:1440px" class='table table-striped table-sm table-hover' aria-labelledby="tableLabel" *ngIf="kategorije">
    <thead>
      <tr>
        <th><a (click)="sortProperty('sifra')">Šifra</a><ng-container *ngIf="sortColumn=='sifra'">{{sortOrder==true?'&#8595;':'&#8593;'}}</ng-container></th>
        <th><a (click)="sortProperty('naziv')">Naziv</a><ng-container *ngIf="sortColumn=='naziv'">{{sortOrder==true?'&#8595;':'&#8593;'}}</ng-container></th>
        <th><a (click)="sortProperty('naziv')">Marža %</a><ng-container *ngIf="sortColumn=='naziv'">{{sortOrder==true?'&#8595;':'&#8593;'}}</ng-container></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let kategorija of kategorije">
        <tr (click)="selectItem(kategorija)">
          <td [ngStyle]="{'font-weight':kategorija==selectedItem? 'bold' : 'normal' }">{{ kategorija.sifra }}</td>
          <td [ngStyle]="{'font-weight':kategorija==selectedItem? 'bold' : 'normal' }">{{ kategorija.naziv }}</td>
          <td [ngStyle]="{'font-weight':kategorija==selectedItem? 'bold' : 'normal' }">{{ kategorija.marza }}</td>
        </tr>
        <tr *ngIf="kategorija.sifra==selectedItem?.sifra||expand==true">
          <td colspan="4">
            Kategorije dobavljača:<br /><br />
            <ng-container *ngFor="let vrsta of kategorija.kategorije_dobavljaca;index as i">
              <a (click)="removeKategorija(vrsta)">x</a>&nbsp;{{vrsta}}<br />
            </ng-container>
            <br/><br />
            <Div class="form-row form-group">
              <div >
                <label>Kategorija</label>
                <input class="form-control form-control-sm" style="text-align:right;width:100px" [(ngModel)]="novaKategorija" type="text" />
              </div>
              <div  style="align-self:flex-end">
                <button type="button" class="btn btn-outline-info btn-sm" (click)="addKategorija(novaKategorija)">+</button>
              </div>
              <div>
                <label>Marža:</label>
                <input class="form-control form-control-sm" style="text-align:right;width:100px" [(ngModel)]="kategorija.marza" type="text" pattern="[0-9]+([,\.][0-9]+)?" />
              </div>
            </Div>
            <div class="form-row">
              <button type="button" class="btn btn-success btn-sm" (click)="save(selectedItem)">Sačuvaj</button>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
