<div style="width:100%;background-color:#fff;padding:15px;margin-left:auto;margin-right:auto;width:auto" class=" table-responsive">
  <h2 id="tableLabel">Kategorije</h2>
  <button  [disabled]="updateInProgress==true" (click)="azurirajKategorije()">Ažuriraj kategorije artikala</button>  <button (click)="toggleExpand()">Expand all</button>

  <div class="form-row form-group">
    <div class="col-sm-3">
      <label>Dodaj novu WEB SHOP kategoriju:</label>
      <input class="form-control form-control-sm" [(ngModel)]="novaWebShopKategorija" type="text" />
    </div>
    <div class="col-sm-2" style="align-self:flex-end">
      <button [disabled]="updateInProgress==true" type="button" class="btn btn-info btn-sm" (click)="addWebShopKategorija(novaWebShopKategorija)">Dodaj</button>
    </div>
  </div>
  <div *ngIf="updateInProgress==true">
    <h3>Ažuriranje kategorija artikala u toku...</h3>
  </div>
  <table  style="max-width:1440px" class='table table-striped table-sm table-hover' aria-labelledby="tableLabel" *ngIf="kategorije">
    <thead>
      <tr>
        <th><a (click)="sortProperty('sifra')">Šifra</a><ng-container *ngIf="sortColumn=='sifra'">{{sortOrder==true?'&#8595;':'&#8593;'}}</ng-container></th>
        <th><a (click)="sortProperty('naziv')">Naziv</a><ng-container *ngIf="sortColumn=='naziv'">{{sortOrder==true?'&#8595;':'&#8593;'}}</ng-container></th>
        <th><a (click)="sortProperty('naziv')">Marža %</a><ng-container *ngIf="sortColumn=='naziv'">{{sortOrder==true?'&#8595;':'&#8593;'}}</ng-container></th>
        <th><a (click)="sortProperty('aktivna')">Aktivna</a><ng-container *ngIf="sortColumn=='aktivna'">{{sortOrder==true?'&#8595;':'&#8593;'}}</ng-container></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let kategorija of kategorije">
        <tr (click)="selectItem(kategorija)">
          <td [ngStyle]="{'font-weight':kategorija==selectedItem? 'bold' : 'normal' }">{{ kategorija.sifra }}</td>
          <td [ngStyle]="{'font-weight':kategorija==selectedItem? 'bold' : 'normal' }">{{ kategorija.naziv }}</td>
          <td [ngStyle]="{'font-weight':kategorija==selectedItem? 'bold' : 'normal' }">{{ kategorija.marza }}</td>
          <td [ngStyle]="{'font-weight':kategorija==selectedItem? 'bold' : 'normal' }">{{ kategorija.aktivna==true?'DA':'NE' }}</td>
        </tr>
        <tr *ngIf="kategorija.sifra==selectedItem?.sifra||expand==true">
          <td>
            <button [disabled]="updateInProgress==true" (click)="toggleAktivna(kategorija)" type="button" class="btn btn-info btn-sm">{{ kategorija.aktivna==true?'Deaktiviraj':'Aktiviraj' }}</button>
            <button [disabled]="updateInProgress==true" type="button" class="btn btn-danger btn-sm" (click)="obrisiKategoriju(kategorija)">Obriši</button>
          </td>
          <td colspan="3">
            Kategorije dobavljača:<br /><br />
            <ng-container *ngFor="let vrsta of kategorija.kategorije_dobavljaca;index as i">
              <div class="form-row form-group" style="margin:0px">
                <button [disabled]="updateInProgress==true" type="button" style="width:25px;height:25px;padding:0px" class="btn btn-outline-danger btn-sm" (click)="removeKategorija(vrsta)">X</button>
              
                <select (change)="addKategorija($event.target.value, vrsta)">
                  <option *ngFor="let kat of kategorije" [selected]="kat.naziv==kategorija.naziv">{{kat.naziv}}</option>
                </select>
                {{vrsta}}
              </div>
            </ng-container>
            <br /><br />
            <Div class="form-row form-group">
              <div class="col-sm-2">
                <label>Kategorija</label>
                <input class="form-control form-control-sm" #novaKategorija [id]="'nk_'+kategorija.sifra" type="text" />
            
                <button [disabled]="updateInProgress==true" type="button" class="btn btn-info btn-sm" (click)="addKategorija(kategorija.naziv, null)">Dodaj kategoriju</button>
              </div>
              <div class="col-sm-2">
                <label>Marža:</label>
                <input class="form-control form-control-sm" style="text-align:right;" [(ngModel)]="kategorija.marza" type="text" pattern="[0-9]+([,\.][0-9]+)?" />
                <button [disabled]="updateInProgress==true" type="button" class="btn btn-success btn-sm" (click)="save(selectedItem)">Izmijeni maržu</button>

              </div>
            </Div>
            
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
