<div style="width:100%;background-color:#fff;padding:10px; margin-left:auto;margin-right:auto;width:auto" class=" table-responsive">

  <div *ngIf="dokumentiVisible">
    <table class='table table-striped table-sm table-hover' aria-labelledby="tableLabel" *ngIf="dokumenti">
      <thead>
        <tr>
          <th>Dokument</th>
          <th>Opis</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dokument of dokumenti">
          <td>{{ dokument.naziv }}</td>
          <td>{{ dokument.opis }}</td>
          <td style="text-align:right">
            <button (click)="dokument_download(dokument)" class="btn btn-outline-primary btn-sm" style="width:80px;margin:3px">Preuzmi</button>
            <button *ngIf="ponuda?.status=='E'" (click)="deleteDokument(dokument)" class="btn btn-outline-danger btn-sm" style="width:80px;margin:3px">Obriši</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
