<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3" style="background-color">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Δήλος 2</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <!--<app-login-menu></app-login-menu>-->
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-light" [routerLink]="['/']">Početna</a>
          </li>
          <li *ngIf="this.currentUser.role.includes('WEBSHOP')|| this.currentUser.role.includes('WEBSHOP_ADMIN')||currentUser.role.includes('ADMIN')" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/artikli']" *ngIf="currentUser">Artikli</a>
          </li>
          <li *ngIf="this.currentUser.role.includes('WEBSHOP')|| this.currentUser.role.includes('WEBSHOP_ADMIN')||currentUser.role.includes('ADMIN')" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/kategorije']" *ngIf="currentUser">Kategorije</a>
          </li>
          <li *ngIf="currentUser.role.includes('SERVIS')||currentUser.role.includes('ADMIN')" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/prijave']" *ngIf="currentUser">Servisne prijave</a>
          </li>
          <li *ngIf="currentUser.role.includes('UGOVORI')||currentUser.role.includes('ADMIN')"  class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/ugovori']" *ngIf="currentUser">Ugovori o odl. plaćanju</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/korisnici']" *ngIf="currentUser">Korisnici</a>
          </li>
          <li  class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/partneri']" *ngIf="currentUser">Partneri</a>
          </li>
          <li *ngIf="currentUser.role.includes('PONUDE')||currentUser.role.includes('ADMIN')" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/ponude']" *ngIf="currentUser">Ponude</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="!currentUser">
            <a class="nav-link text-light" [routerLink]="['/login']">Prijava</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="currentUser">
            <a class="nav-link text-light" style="font-size: 16px !IMPORTANT;font-weight: bold;">{{currentUser.ime}}&nbsp;{{currentUser.prezime}}</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="currentUser">
            <a class="nav-link text-light" (click)="logout()"><img class="white" src="/assets/img/logout.png" width="24" height="24" /></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
