<div style="width:100%;background-color:#fff;padding:15px;margin-left:auto;margin-right:auto;width:auto" class=" table-responsive"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50"
     (scrolled)="onScroll()">
  <h2 id="tableLabel">Ponude</h2>

  <p *ngIf="!currentUser"><em>Niste autorizovani za pristup ovoj stranici...</em></p>
  <div style="overflow:auto" *ngIf="currentUser">
    <div style="float:left;margin: 4px;">
      <button type="button" style="width:100px" class="btn btn-info  btn-sm" (click)="add()">+</button>
    </div>
    <div style="float:left;margin: 4px;">
      <input (keyup.enter)="search()" class="form-control form-control-sm" style="width:300px" [(ngModel)]="searchText" placeholder="Unesite pojam za pretraživanje">
    </div>

    <button type="button" style="width:100px;float:left;margin: 4px;" class="btn btn-info  btn-sm" (click)="search()">Pretraži</button>
  </div>
  <!--<ul class="pagination flex-wrap  justify-content-center" style="margin:20px 0">
    <ng-container *ngFor="let page of pages">
      <li [ngClass]="getPageActiveClass(page)"><a class="page-link" (click)="load(page)">{{page}}</a></li>
    </ng-container>
  </ul>-->
  <table class='table table-hover table-striped table-sm' aria-labelledby="tableLabel" *ngIf="ponude">
    <thead>
      <tr>
        <th><a (click)="sortProperty('broj')">Broj</a><ng-container *ngIf="sortColumn=='broj'">{{sortOrder==true?'&#8595;':'&#8593;'}}</ng-container></th>
        <th><a (click)="sortProperty('datum')">Datum</a><ng-container *ngIf="sortColumn=='datum'">{{sortOrder==true?'&#8595;':'&#8593;'}}</ng-container></th>
        <th><a (click)="sortProperty('partner_naziv')">Partner</a><ng-container *ngIf="sortColumn=='partner_naziv'">{{sortOrder==true?'&#8595;':'&#8593;'}}</ng-container></th>
        <th><a (click)="sortProperty('partner_adresa')">Adresa</a><ng-container *ngIf="sortColumn=='partner_adresa'">{{sortOrder==true?'&#8595;':'&#8593;'}}</ng-container></th>
        <th><a (click)="sortProperty('partner_telefon')">Telefon</a><ng-container *ngIf="sortColumn=='partner_telefon'">{{sortOrder==true?'&#8595;':'&#8593;'}}</ng-container></th>
        <th><a (click)="sortProperty('iznos_sa_rabatom')">Iznos bez pdv-a</a><ng-container *ngIf="sortColumn=='iznos_sa_rabatom'">{{sortOrder==true?'&#8595;':'&#8593;'}}</ng-container></th>
        <th><a (click)="sortProperty('pdv')">Pdv</a><ng-container *ngIf="sortColumn=='pdv'">{{sortOrder==true?'&#8595;':'&#8593;'}}</ng-container></th>
        <th><a (click)="sortProperty('iznos_sa_pdv')">Iznos sa pdv-om</a><ng-container *ngIf="sortColumn=='iznos_sa_pdv'">{{sortOrder==true?'&#8595;':'&#8593;'}}</ng-container></th>
        <!-- <th><a (click)="sortProperty('sortC')">Broj</a><ng-container *ngIf="sortColumn=='sortC'">{{sortOrder==true?'&#8595;':'&#8593;'}}</ng-container></th>-->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ponuda of ponude" (click)="selectItem(ponuda)">
        <td>{{ ponuda.broj }}</td>
        <td>{{ ponuda.datum |date:'dd.MM.yyyy' }}</td>
        <td>{{ ponuda.partner_naziv }}</td>
        <td>{{ ponuda.partner_adresa }}</td>
        <td>{{ ponuda.partner_telefon}}</td>
        <td>{{ ponuda.iznos_sa_rabatom }}</td>
        <td>{{ ponuda.pdv }}</td>
        <td>{{ ponuda.iznos_sa_pdv }}</td>
        <!-- <td>{{ ponuda.sortC }}</td>-->
      </tr>
    </tbody>
  </table>

  <p *ngIf="loading==true"><em>Učitavanje...</em></p>
</div>
