<div style="text-align:center;background-color:#fff;margin-left:auto;margin-right:auto;width:fit-content">
  <button *ngIf="currentUser.role.includes('PONUDE')||currentUser.role.includes('ADMIN')" [disabled]="!currentUser" class="btn btn-outline-info" style="width:220px;height:160px" (click)="ponude()">Ponude</button>
  <button  [disabled]="!currentUser" class="btn btn-outline-info" style="width:220px;height:160px" (click)="partneri()">Partneri</button>
  <button  [disabled]="!currentUser" class="btn btn-outline-info" style="width:220px;height:160px" (click)="korisnici()">Korisnici</button>
</div>
<div style="text-align:center;background-color:#fff;margin-left:auto;margin-right:auto;width:fit-content">
  <button *ngIf="currentUser.role.includes('UGOVORI')||currentUser.role.includes('ADMIN')"  [disabled]="!currentUser" class="btn btn-outline-info" style="width:220px;height:160px" (click)="ugovori()">Ugovori o odloženom plaćanju</button>
  <button *ngIf="currentUser.role.includes('SERVIS')||currentUser.role.includes('ADMIN')" [disabled]="!currentUser" class="btn btn-outline-info" style="width:220px;height:160px" (click)="servisneprijave()">Servisne prijave</button>
  <!--<button  [disabled]="!currentUser" class="btn btn-outline-info" style="width:220px;height:160px" (click)="izvjestaji()">Izvještaji</button>-->
</div>
<div style="text-align:center;background-color:#fff;margin-left:auto;margin-right:auto;width:fit-content" *ngIf="currentUser.role.includes('WEBSHOP')|| currentUser.role.includes('WEBSHOP_ADMIN')||currentUser.role.includes('ADMIN')">
  <button [disabled]="!currentUser" class="btn btn-outline-info" style="width:220px;height:160px" (click)="artikli()">Artikli</button>
  <button [disabled]="!currentUser" class="btn btn-outline-info" style="width:220px;height:160px" (click)="kategorije()">Kategorije artikala</button>

</div>
